# for VariableRefreshRateService
type refresh_rate_service, system_server_service, service_manager_type;
type ums_service, system_api_service, service_manager_type;